In [3]:
import pandas as pd

In [4]:
df=pd.read_csv("C:\\Users\\Home\\Desktop\\comments\\sentiment_dataset_with_sentiment.csv")

In [5]:
df.head()

,Text,cleaned_text,Sentiment
0,1 billion views for never gonna give you up a...,billion view never gonna give amazing crazy wo...,negative
1,somebody in june 2024,somebody june,neutral
2,everytime someone likes this comment i will ri...,everytime someone like comment rickroll,positive
3,when you rickroll someone you have to rickroll...,rickroll someone rickroll first,neutral
4,in a few years this will be an anthem,year anthem,neutral

In [6]:
df.describe()

          Text cleaned_text Sentiment
count      486          443       500
unique     463          408         3
top     a href         href   neutral
freq        12           13       349

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Text          486 non-null    object
 1   cleaned_text  443 non-null    object
 2   Sentiment     500 non-null    object
dtypes: object(3)
memory usage: 11.8+ KB

In [8]:
df.isnull().sum()

Text            14
cleaned_text    57
Sentiment        0
dtype: int64

In [9]:
df=df.fillna('')

In [10]:
df.isnull().sum()

Text            0
cleaned_text    0
Sentiment       0
dtype: int64

In [11]:
df.columns

Index(['Text', 'cleaned_text', 'Sentiment'], dtype='object')

In [12]:
df=df.drop(['Text'], axis=1)

In [13]:
df.head()

                                        cleaned_text Sentiment
0  billion view never gonna give amazing crazy wo...  negative
1                                      somebody june   neutral
2            everytime someone like comment rickroll  positive
3                    rickroll someone rickroll first   neutral
4                                        year anthem   neutral

In [14]:
import nltk

In [15]:
from nltk.corpus import stopwords

In [16]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Home\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [17]:
from nltk.stem.porter import PorterStemmer

In [18]:
import re

In [19]:
port_stem=PorterStemmer()

In [20]:
port_stem.stem("Salam Habibi , waLla *&#^@")

'salam habibi , walla *&#^@'

In [21]:
def stemming(content):
  con=re.sub('[^a-zA-Z]',' ',content)
  con=con.lower()
  con=con.split()
  con=[port_stem.stem(word) for word in con if not word in stopwords.words('english')]
  con=' '.join(con)
  return con

In [22]:
stemming('Salam Habibi , waLla *&#^@')

'salam habibi walla'

In [23]:
df['text']=df['cleaned_text'].apply(stemming)

In [24]:
df=df.drop(['cleaned_text'], axis=1)

In [25]:


# Define the mapping of sentiment labels to numerical values
sentiment_mapping = {'positive': 2, 'negative': 0, 'neutral': 1}

# Map the 'Sentiment' column to numerical values
df['Sentiment'] = df['Sentiment'].map(sentiment_mapping)

In [26]:
df.head()

   Sentiment                                               text
0          0  billion view never gonna give amaz crazi wonde...
1          1                                      somebodi june
2          2               everytim someon like comment rickrol
3          1                       rickrol someon rickrol first
4          1                                        year anthem

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sentiment  500 non-null    int64
 1   text       500 non-null    object
dtypes: int64(1), object(1)
memory usage: 7.9+ KB

In [28]:
x=df['text']

In [29]:
y=df['Sentiment']

In [30]:
print("Text Columns: ",x.shape,", Label Columns: ",y.shape)

Text Columns:  (500,) , Label Columns:  (500,)

In [31]:
import sklearn
from sklearn.model_selection import train_test_split

In [56]:
x_train, x_test, y_train , y_test=train_test_split(x,y,test_size=0.25,random_state=42)

In [57]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [58]:
vect=TfidfVectorizer()

In [59]:
x_train=vect.fit_transform(x_train)

In [60]:
x_test=vect.transform(x_test)

In [61]:
print("x_train ",x_train.shape,"x_test: ",x_test.shape)

x_train  (375, 722) x_test:  (125, 722)

In [62]:
from sklearn.tree import DecisionTreeClassifier

In [63]:
model=DecisionTreeClassifier()

In [64]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [65]:
predictions=model.predict(x_test)

In [66]:
predictions

array([1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 2, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 0, 1, 2, 1, 1, 1, 1, 1,
       1, 2, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1,
       1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 2, 1], dtype=int64)

In [67]:
model.score(x_test,y_test)

0.792

In [68]:
from sklearn.ensemble import RandomForestClassifier
random=RandomForestClassifier()
random.fit(x_train,y_train)
predict=random.predict(x_test)
random.score(x_test,y_test)

0.824

In [45]:
import pickle

In [46]:
pickle.dump(vect,open('vector.pkl','wb'))

In [47]:
pickle.dump(model,open('model.pkl','wb'))

In [48]:
vector_form=pickle.load(open('vector.pkl','rb'))

In [49]:
load_model=pickle.load(open('model.pkl','rb'))

In [50]:
def predict(news):
  news=stemming(news)
  input_data=[news]
  vector_form1=vector_form.transform(input_data)
  prediction=load_model.predict(vector_form1)
  return prediction

In [51]:
val=predict("""everytime someone like comment rickroll""")
if val==[0]:
  print('negative')
if val==[1]:
  print('neutral')
else:
  print('positive')

positive

In [52]:
df.to_csv("C:\\Users\\Home\\Desktop\\comments\\sentiment_dataset_with_sentiment_processed.csv", index=False)

In [53]:
df.head()

   Sentiment                                               text
0          0  billion view never gonna give amaz crazi wonde...
1          1                                      somebodi june
2          2               everytim someon like comment rickrol
3          1                       rickrol someon rickrol first
4          1                                        year anthem

In [54]:
from sklearn import metrics

In [71]:
from sklearn.metrics import confusion_matrix, classification_report

y_pred = model.predict(x_test)

conf_matrix = confusion_matrix(y_test, y_pred)

class_report = classification_report(y_test, y_pred)

print("\nClassification Report:")
print(class_report)

Confusion Matrix:
[[ 3  8  2]
 [ 1 83  6]
 [ 0  9 13]]

Classification Report:
              precision    recall  f1-score   support

           0       0.75      0.23      0.35        13
           1       0.83      0.92      0.87        90
           2       0.62      0.59      0.60        22

    accuracy                           0.79       125
   macro avg       0.73      0.58      0.61       125
weighted avg       0.78      0.79      0.77       125

Accuracy: 0.79